[Unit]
Description=Smart BMS Bluetooth
After=bluetooth.target time-sync.target influxd.service

[Service]
Type=notify
ExecStart=/root/esc/smart_bms.py
Restart=always
RestartSec=10
WatchdogSec=60

[Install]
WantedBy=multi-user.target

