[Unit]
Description=Charge Controller
After=network.target time-sync.target influxd.service

[Service]
Type=notify
ExecStart=/root/esc/charge_controller.py
Restart=always
RestartSec=60s
WatchdogSec=120

[Install]
WantedBy=multi-user.target
