[Unit]
Description=Inverter Controller
After=network.target time-sync.target influxd.service

[Service]
Type=notify
ExecStart=/root/esc/inverter_controller.py
Restart=always
RestartSec=10s 
WatchdogSec=120

[Install]
WantedBy=multi-user.target
